In [1]:
import pandas as pd

In [8]:
filepath = 'C:\\Users\\mojta\\personal_projects\\RDP-Reading-Data-with-Python-and-Pandas\\unit-1-reading-data-with-python-and-pandas\\lesson-1-reading-csv-and-txt-files\\files\\btc-market-price.csv'
with open(filepath, 'r') as reader:
    print(reader)

<_io.TextIOWrapper name='C:\\Users\\mojta\\personal_projects\\RDP-Reading-Data-with-Python-and-Pandas\\unit-1-reading-data-with-python-and-pandas\\lesson-1-reading-csv-and-txt-files\\files\\btc-market-price.csv' mode='r' encoding='cp1252'>

In [10]:
with open(filepath, 'r') as reader:
    for index, line in enumerate(reader.readlines()):
        if (index < 10):
            print(index, line)

0 2/4/17 0:00,1099.169125

1 3/4/17 0:00,1141.813

2 4/4/17 0:00,?

3 5/4/17 0:00,1133.079314

4 6/4/17 0:00,-

5 7/4/17 0:00,-

6 8/4/17 0:00,1181.149838

7 9/4/17 0:00,1208.8005

8 10/4/17 0:00,1207.744875

9 11/4/17 0:00,1226.617038

In [33]:
df = pd.read_csv(filepath, header=None, na_values=['','?','-'], names=['Timestamp','Price'],\
                 dtype={'Price': 'float'}, index_col='Timestamp', parse_dates=[0])
df.head()

C:\Users\mojta\AppData\Local\Temp\ipykernel_20664\717812342.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(filepath, header=None, na_values=['','?','-'], names=['Timestamp','Price'],\

                  Price
Timestamp
2017-02-04  1099.169125
2017-03-04  1141.813000
2017-04-04          NaN
2017-05-04  1133.079314
2017-06-04          NaN

In [35]:
# df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%Y-%m-%d %H-%M-%S')

In [38]:
exam_df = pd.read_csv('C:\\Users\\mojta\\personal_projects\\RDP-Reading-Data-with-Python-and-Pandas\\unit-1-reading-data-with-python-and-pandas\\lesson-1-reading-csv-and-txt-files\\files\\exam_review.csv')
exam_df.head()

                               first_name>last_name>age>math_score>french_score
Ray>Morley>18>"68     000">"75                                             000"
Melvin>Scott>24>77>83 NaN                                                   NaN
Amirah>Haley>22>92>67 NaN                                                   NaN
Gerard>Mills>19>"78   000">72                                               NaN
Amy>Grimes>23>91>81   NaN                                                   NaN

In [44]:
exam_df = pd.read_csv('C:\\Users\\mojta\\personal_projects\\RDP-Reading-Data-with-Python-and-Pandas\\unit-1-reading-data-with-python-and-pandas\\lesson-1-reading-csv-and-txt-files\\files\\exam_review.csv',
                      sep='>', decimal=',', skip_blank_lines=True)

exam_df.head()

  first_name last_name  age  math_score  french_score
0        Ray    Morley   18        68.0          75.0
1     Melvin     Scott   24        77.0          83.0
2     Amirah     Haley   22        92.0          67.0
3     Gerard     Mills   19        78.0          72.0
4        Amy    Grimes   23        91.0          81.0

In [45]:
exam_df = pd.read_csv('C:\\Users\\mojta\\personal_projects\\RDP-Reading-Data-with-Python-and-Pandas\\unit-1-reading-data-with-python-and-pandas\\lesson-1-reading-csv-and-txt-files\\files\\exam_review.csv',
                      sep='>', decimal=',', skip_blank_lines=True, usecols=['first_name', 'last_name'])

exam_df.head()

  first_name last_name
0        Ray    Morley
1     Melvin     Scott
2     Amirah     Haley
3     Gerard     Mills
4        Amy    Grimes